In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv('flights.csv')

In [3]:
raw_data

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2020,1,6,3,1057.0,1100,1432.0,1438,155.0,158,...,8.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2020,1,7,4,1056.0,1100,1426.0,1438,150.0,158,...,10.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2020,1,8,5,1055.0,1100,1445.0,1438,170.0,158,...,14.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2020,1,9,6,1102.0,1100,1433.0,1438,151.0,158,...,9.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2020,1,10,7,1240.0,1100,1631.0,1438,171.0,158,...,14.0,20.0,0,NaN,0,0.0,0.0,47.0,0.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5549,2020,12,20,3,1619.0,1625,1719.0,1737,60.0,72,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5550,2020,12,21,4,1723.0,1625,1828.0,1737,65.0,72,...,8.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
5551,2020,12,22,5,1652.0,1625,1756.0,1737,64.0,72,...,6.0,13.0,0,NaN,0,18.0,0.0,0.0,0.0,1.0
5552,2020,12,23,6,1640.0,1625,1741.0,1737,61.0,72,...,10.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5553,2020,12,24,7,1657.0,1625,1757.0,1737,60.0,72,...,9.0,10.0,0,NaN,0,5.0,0.0,0.0,0.0,15.0

In [4]:
raw_data.shape

(5554, 26)

In [5]:
raw_data.isnull().sum()

Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime               194
CRSDepTime              0
ArrTime               197
CRSArrTime              0
ActualElapsedTime     208
CRSElapsedTime          0
AirTime               208
ArrDelay              208
DepDelay              194
Origin                  0
Dest                    0
Distance                0
TaxiIn                197
TaxiOut               195
Cancelled               0
CancellationCode     5358
Diverted                0
CarrierDelay         4449
WeatherDelay         4449
NASDelay             4449
SecurityDelay        4449
LateAircraftDelay    4449
dtype: int64

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5554 entries, 0 to 5553
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               5554 non-null   int64
 1   Month              5554 non-null   int64
 2   DayofMonth         5554 non-null   int64
 3   DayOfWeek          5554 non-null   int64
 4   DepTime            5360 non-null   float64
 5   CRSDepTime         5554 non-null   int64
 6   ArrTime            5357 non-null   float64
 7   CRSArrTime         5554 non-null   int64
 8   ActualElapsedTime  5346 non-null   float64
 9   CRSElapsedTime     5554 non-null   int64
 10  AirTime            5346 non-null   float64
 11  ArrDelay           5346 non-null   float64
 12  DepDelay           5360 non-null   float64
 13  Origin             5554 non-null   object
 14  Dest               5554 non-null   object
 15  Distance           5554 non-null   int64
 16  TaxiIn             5357 non-null   float64
 17  TaxiOut            5359 non-null   float64
 18  Cancelled          5554 non-null   int64
 19  CancellationCode   196 non-null    object
 20  Diverted           5554 non-null   int64
 21  CarrierDelay       1105 non-null   float64
 22  WeatherDelay       1105 non-null   float64
 23  NASDelay           1105 non-null   float64
 24  SecurityDelay      1105 non-null   float64
 25  LateAircraftDelay  1105 non-null   float64
dtypes: float64(13), int64(10), object(3)
memory usage: 1.1+ MB

In [7]:
data = raw_data.copy()

In [8]:
#pd.options.display.max_columns = None
data.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2020,1,6,3,1057.0,1100,1432.0,1438,155.0,158,...,8.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2020,1,7,4,1056.0,1100,1426.0,1438,150.0,158,...,10.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2020,1,8,5,1055.0,1100,1445.0,1438,170.0,158,...,14.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2020,1,9,6,1102.0,1100,1433.0,1438,151.0,158,...,9.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2020,1,10,7,1240.0,1100,1631.0,1438,171.0,158,...,14.0,20.0,0,NaN,0,0.0,0.0,47.0,0.0,66.0

In [9]:
data.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'ActualElapsedTime', 'CRSElapsedTime',
       'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance',
       'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')

In [12]:
cols_with_na = data[['CancellationCode']]
df__no_null = data.drop(cols_with_na,axis=1)
df__no_null

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2020,1,6,3,1057.0,1100,1432.0,1438,155.0,158,...,986,8.0,15.0,0,0,NaN,NaN,NaN,NaN,NaN
1,2020,1,7,4,1056.0,1100,1426.0,1438,150.0,158,...,986,10.0,14.0,0,0,NaN,NaN,NaN,NaN,NaN
2,2020,1,8,5,1055.0,1100,1445.0,1438,170.0,158,...,986,14.0,21.0,0,0,NaN,NaN,NaN,NaN,NaN
3,2020,1,9,6,1102.0,1100,1433.0,1438,151.0,158,...,986,9.0,13.0,0,0,NaN,NaN,NaN,NaN,NaN
4,2020,1,10,7,1240.0,1100,1631.0,1438,171.0,158,...,986,14.0,20.0,0,0,0.0,0.0,47.0,0.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5549,2020,12,20,3,1619.0,1625,1719.0,1737,60.0,72,...,192,8.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN
5550,2020,12,21,4,1723.0,1625,1828.0,1737,65.0,72,...,192,8.0,17.0,0,0,0.0,0.0,0.0,0.0,51.0
5551,2020,12,22,5,1652.0,1625,1756.0,1737,64.0,72,...,192,6.0,13.0,0,0,18.0,0.0,0.0,0.0,1.0
5552,2020,12,23,6,1640.0,1625,1741.0,1737,61.0,72,...,192,10.0,12.0,0,0,NaN,NaN,NaN,NaN,NaN
5553,2020,12,24,7,1657.0,1625,1757.0,1737,60.0,72,...,192,9.0,10.0,0,0,5.0,0.0,0.0,0.0,15.0

In [13]:
df__no_null.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'ActualElapsedTime', 'CRSElapsedTime',
       'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance',
       'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [18]:
import datetime as dt
df__no_null['DepTime'] = pd.to_datetime(df__no_null['DepTime'])

In [19]:
type(df__no_null['DepTime'])

pandas.core.series.Series

In [68]:
import matplotlib.pyplot as plt
#plotting graphs  
#fig,ax = plt.subplots()
num_destinations=df__no_null['Dest'].nunique()
destinations=df__no_null['Dest'].unique()
destinations
dest_DTW = df__no_null['Dest'].groupby(df__no_null['Dest']=='DTW')
dest_JFK = df__no_null['Dest'].groupby(df__no_null['Dest']=='JFK')
dest_LAX = df__no_null['Dest'].groupby(df__no_null['Dest']=='LAX')
dest_DEN = df__no_null['Dest'].groupby(df__no_null['Dest']=='DEN')
type(dest_DEN)
#ax=plt.plot(df__no_null['ArrTime'],df__no_null['Year'])
#plt.show()

pandas.core.groupby.generic.SeriesGroupBy

In [46]:
destinations

array(['DTW', 'DFW', 'JFK', 'SEA', 'ORD', 'SJC', 'STL', 'DCA', 'TPA',
       'MIA', 'DEN', 'LAX', 'KOA', 'IAH', 'AUS', 'LAS', 'MCO', 'SLC',
       'STT', 'BOS', 'FLL', 'SFO', 'HNL', 'OGG', 'TUL', 'PHL', 'SNA',
       'IAD', 'LGA', 'RDU', 'EWR', 'RIC', 'PDX', 'CLT', 'ELP', 'SAN',
       'SAT', 'MCI', 'BNA', 'PHX', 'ONT', 'TUS', 'SMF'], dtype=object)